#home{
    background-image: url("../img/foto-prodotti.png");
}    

main .text{
    padding: 20px;
    text-align: center;
    background-color: #fbb901;
    color: black;
} 

.carousel{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    scrollbar-width: none;
    overflow-y: scroll;
    background-color: black;
}

.carousel img{
    width: 45%;
    padding: 10px 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
}

@media only screen and (min-width: 900px) {
    .carousel img{
        width: 20%;
    }
}

.text .btn{
    background-color: black;
    border-radius: 10px;
    width: 150px;
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
    border: 2px solid white;
    margin: 10px;
    transition: all 0.5s;
}

.text .btn:hover{
    font-weight: bolder;
    transform: scale(1.05, 1.1);
    color: white;
    background-color: black;
    border: 2px solid white;
}