
main{
    color: black;
}

/*Inizio header*/

#home{
    background-image: url("../img/foto-eventi.jpg");
}    
   
/*Fine Header*/

.eventi{
    text-align: center;
    width: 100%;
}

.eventi h2{
    padding-top: 30px;
}

.eventi .line{
    background-color: black;
    height: 3px;
    width: 40%;
    margin: 0 30%;
    border-radius: 50px;
}

.eventi .btn{
    background-color: #fbb901;   
    width: 32%;
    color: black;
    text-transform: uppercase;
    box-shadow: 1px 1px rgb(102, 101, 101);
}

.eventi .btn:hover{
    background-color: #c48f00;   
    color: white;
    font-weight: bolder;
}

@media only screen and (max-width: 900px) {
    .eventi .btn{
        width: 40%;
    }
}


@media only screen and (max-width: 710px) {
    .eventi .btn{
        width: 50%;
    }
}

@media only screen and (max-width: 300px) {
    .eventi .btn{
        width: 60%;
    }
}


/*Inizio footer*/

/*Fine footer*/