*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/*GENERAL*/



/*Inizio header*/

header{
    /*background-color: $brandColorTwo;*/
    background-color: rgba(255, 255, 255, 0.61);
    position: absolute;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    box-shadow: 1px 3px rgba(0, 0, 0, 0.164);   
}

header #logo{
    width: 80px;
    height: inherit;
}

header .btn-menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

header .btn-menu a{
    width: 40px;
    height: 100%;
    margin-right: 15px;  
}

header .btn-menu img{
    width: 100%;
    height: 100%;
}


/*Fine Header*/

main{
    color: black;
}

/*Inzio Home*/

.home{
    width: 100%;
    height: 100vh;
    background-image: url("../img/pizza-home.png");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home img{
    opacity: 1;
    animation-name: opacityOn;
    animation-duration: s;
    width: 70%;
}
    
.home h1{
    opacity: 1;
    animation-name: opacityOn;
    animation-duration: 4s; 
}

@keyframes opacityOn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (min-width: 490px) {
    .home img{
        width: 60%;
    }
}

@media only screen and (min-width: 640px) {
    .home img{
        width: 50%;
    }
}

@media only screen and (min-width: 750px) {
    .home img{
        width: 40%;
    }
}

@media only screen and (min-width: 1100px) {
    .home img{
        width: 30%;
    }
}

@media only screen and (min-width: 1500px) {
    .home img{
        width: 20%;
    }
}
/*Fine Home */

/*Inzio Carousel photo*/

.carousel{
    background-color: #fbb901;
}

.carousel .container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel .slider{
    width: 100%;
}

.carousel .prev, .carousel .next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    background-color: rgba(255, 255, 255, .5);
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.carousel .next{
    right: 0;
}

.carousel .prev{
    left: 0;
}

.carousel .prev:hover, .carousel .next:hover{
    background-color: white;
}

.carousel img{
    width: 100%;
}

/*Fine Carpusel photo*/


/* Inizio Orari */

.orari{
    background-image: url("../img/sfondo-lavagna.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    text-align: center;
    font-weight: bolder;
}

.orari .line{
    background-color: white;
    height: 3px;
    width: 50%;
    margin: 0 25%;
    border-radius: 50px;
}

.orari .row-red{
    color: #e30713;
    font-style: italic;
    font-weight: bolder;
}

.orari h2{
    text-transform: uppercase;
}

.orari .hour{
    font-size: 38px;
}

.orari span{
    text-transform: uppercase;
    font-style: italic;
}
/* Fine Orari*/

/*Inizio Menu btn section*/

.menu-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0;  
}

.menu-section h2{
    text-align: center;
}

.menu-section .btn-menu{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    padding-top: 50px;
}

.menu-section .btn{
    background-color: #fbb901;
    border-radius: 1px;
    width: 32%;
}

.menu-section .btn:hover{
    background-color: #e30713;
}

.menu-section #btn-red{
    background-color: #e30713;
}

.menu-section #btn-red:hover{
    background-color: #fbb901;
}


.menu-section .line{
    background-color: black;
    height: 3px;
    width: 50%;
    margin: 0 30%;
    border-radius: 50px;
}

@media only screen and (max-width: 900px) {
    .menu-section .btn-menu{
        width: 80%;
    }
}


@media only screen and (max-width: 710px) {
    .menu-section .btn-menu{
        width: 100%;
    }
}
/*Fine menu btn section*/

/*About Us*/

.about-us h2{
    padding-top: 30px;
}

.about-us .line{
    background-color: black;
    height: 3px;
    width: 40%;
    margin: 0 30%;
    border-radius: 50px;
}

.about-us .bg{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

#bg1{
    background-image: url("../img/fotobeppe.png");
}

#bg2{
    background-image: url("../img/foto-trancio.png");
}

.about-us p{
    padding-right: 17%;
    padding-left: 17%;
}

.about-us .btn{
    background-color: #e30713;
    
    width: 32%;
}

@media only screen and (max-width: 710px) {
    .about-us p{
        padding-left: 8%;
        padding-right: 8%;
    }
}

@media only screen and (max-width: 400px) {
    .about-us p{
        padding-left: 3%;
        padding-right: 3%;
    }
}
/*@media screen and (min-width: 800px){
 
}*/    

#AboutUs{
    background-color: #e30713;
}

#OurProducts{
    background-color: #fbb901;
    margin-bottom: 40px;
}

.about-us section{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.about-us .box{
    width: 50%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 800px) {
    .about-us section{
        flex-direction: column;
    }

    .about-us .box{
        width: 100%;
        height: fit-content;
    }

    .about-us .bg{
        height: 350px;
    }
}


/*About Us*/

/*Inzio certificati*/

.certificati h2{
    text-align: center;
}

.certificati .line{
    background-color: black;
    height: 3px;
    width: 40%;
    margin: 0 30%;
    border-radius: 50px;
}

#elenco{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 40px;
}

.certificati img{
    width: 100%;
}

@media only screen and (min-width: 500px) {
    .certificati img{
        width: 80%;
    }
}

@media only screen and (min-width: 800px) {
    .certificati img{
        width: 50%;
    }
}

/*Fine certificati*/

/*Inizio footer*/

footer{
    background-color: black;
    color: white;
    padding: 15px;
}

footer img{
    width: 40%;
}

footer h5{
    text-transform: uppercase;
    font-weight: bolder; 
    border-bottom: 1px solid white;
    width: fit-content; 
    padding-bottom: 20px;
    margin-bottom: 20px;
}

footer a{
    color: white;
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
}

/*Fine footer*/