<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bella&Buona</title>
    <link rel="stylesheet" href="css/stylehome.css">
    <link rel="stylesheet" href="css/general.css">
    <link rel="icon" type="image/x-icon" href="img/Logo.png">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Montserrat:wght@100;500;600&display=swap" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NJK7P5K3FD"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-NJK7P5K3FD');
    </script>
    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window,document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '311444523992710'); 
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" 
        src="https://www.facebook.com/tr?id=311444523992710&ev=PageView
        &noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->
    <script src="https://kit.fontawesome.com/f27022c870.js" crossorigin="anonymous"></script>
    <meta name="google-site-verification" content="vg_ERGtAkuwFkB5c4ZppG9mxB6xFtuXymGNgWeyZ5bs" />
    <meta name="facebook-domain-verification" content="b59492rs8q3ra55zv6fe3jid6t2vi9" />
</head>

<body>       
    <header class="home" id="home">
        <!--<video class="fullscreen" playsinline autoplay muted loop id="myVideo" >
            <source src="img/video.mp4" type="video/mp4">
        </video> -->
        <div v-if="burger_close">
            <i @click="toggleBurger"
            class="fas fa-bars"></i>
        </div>
        <div v-else
        class="burger">
            <i @click="toggleBurger"
            class="fas fa-times"></i>
            <a href="index.html">Home</a>
            <a href="#orari">Orari</a>
            <a href="#menu">Menu</a>
            <a href="paginatranci.html">Tranci</a>
            <a href="eventi.html">Eventi</a>
        </div>
        
        <img src="img/Logo.png" alt=""> 
    </header>
    
    <main>

        <section class="navigator" id="app"> 
            <div class="upper-nav">
                <a href="#home">
                    <img src="img/Logo scritta.png" alt="" id="logo" class="mx-2">
                </a>
                <div class="btn-menu">
                    <a href="tel:0365 187 0283" onclick="postcall()">
                        <img src="img/icone/telephone.png" alt="">
                    </a>
                    <a href="https://www.google.com/maps/place/Bella+e+Buona/@45.6497006,10.3504344,17z/data=!3m1!4b1!4m5!3m4!1s0x4781833d9a462701:0x7e1df6494852f91f!8m2!3d45.6497006!4d10.3526231?hl=it">
                        <img src="img/icone/placeholder.png" alt="">
                    </a>
                    <a class="d-none" 
                    @click="toggleMenu">
                        <img src="img/icone/menu.png" alt="">
                    </a>
                </div>
            </div>
            <div v-if="menu_close" 
            class="lower-nav">
                <div class="riga">
                    <a href="https://qrco.de/bcbqQf">Menu asporto</a>
                </div>
                <div class="riga">
                    <a href="https://qrco.de/bcbqQf">Menu sala</a>
                </div>
            </div>
            <div v-else></div>
        </section>

        <section class="orari container-fluid" id="orari">
            <div class="row">
                <div class="col-12 pb-3 pt-5">
                    <h2><span class="italic">Orari:</span></h2>
                    <div class="line"></div>
                </div>  
                <div class="row pb-3">
                    <div class="col-12 col-sm-6 ">
                        <h3 class="row-red">Aperti a pranzo:</h3>
                        <h2 class="hour">11:00 - 13:30</h2>
                    </div> 
                    <div class="col-12 col-sm-6">
                        <h3 class="row-red">e a cena:</h4>
                        <h2 class="hour">17:00 - 22:30</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <h3 class="pb-4">Chiusi di <span class="red">lunedì</span></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h3 class="pt-3 pb-3">Con un aggiunta di soli <span class="red"> 2€ </span>la pizza te la portiamo a casa noi</h3>
                        <h2 class="pb-3 hour">18:00 - 20:30</h2>
                        <h3>Valido se abiti nei comuni di: </h3>
                        <h3 class="row-red pb-5">Agnosine, Bione, Preseglie, Odolo e Sabbio Chiese</h3> 
                    </div>
                </div>
        </section>

        <section class="menu-section" id="menu">
            <h2>Clicca qui per vedere i menù:</h2>
            <div class="line"></div>
            <div class="btn-menu">
                <a href="menu/menuasporto.html" class="btn">Menù <br> Asporto</a>
                <a href="menu/menusala.html" class="btn">Menù <br> Sala</a>
            </div>
        </section>

        <section id="banner-tranci">
            <div>Hai un'attività commerciale e vorresti offrire un prodotto innovativo <br> clicca sul bottone qui sotto per sapere di più</div>
            <div class="line"></div>
            <a href="paginatranci.html" class="btn">Clicca qui</a>
        </section>

        <div class="about-us">
            <section class="col-12" id="AboutUs">
                <div class="box">
                    <h2>Chi siamo:</h2>
                    <div class="line mb-4"></div>
                    <p>Pizzeria Bella&Buona nasce dalla passione e dall'esperienza pluriennale maturate nel settore della ristorazione da Giuseppe Barbera alias Beppe. <br>
                        Per molti anni ha già operato in Vallesabbia con Bep's Pizza a Sabbio Chiese, Amalfitana a Vobarno e, dopo un’esperienza in Spagna, è nata l’idea di un nuovo locale con un’innovativa focaccia in teglia. <br>
                        La professionalità e l’alta formazione hanno permesso a Beppe di diventare un rinomato Master Chef NIP e di vincere due Guinness World Records.</p>
                </div>
                <div class="box">
                    <div class="bg" id="bg1"></div>
                </div>                                        
            </section>
            <section class="col-12" id="OurProducts">
                <div class="box">
                    <div class="bg" id="bg2"></div>
                </div>
                <div class="box">
                    <h2>I nostri prodotti:</h2>
                    <div class="line mb-4"></div>
                    <p>L'attenta selezione degli ingredienti freschi, di prima qualità e fortemente legati al territorio combinati a numerosi anni di esperienza, permettono di creare un eccellente prodotto capace di soddisfare anche i clienti più esigenti. <br>
                        Da Bella&Buona è possibile gustare anche pizze vegane, gluten free o senza lattosio. <br>
                        Per i palati più raffinati è possibile provare Focacce in Teglia in innumerevoli varianti , alte, con un cuore morbido ed una base croccante di autentica passione gastronomica.</p>
                    <div class="icone">
                        <img src="img/icone/gluten-free.png" alt="">
                        <img src="img/icone/lactose-free.png" alt="">
                        <img src="img/icone/vegan.png" alt="">
                    </div>
                </div>
            </section>
        </div>

        <section class="certificati">
            <h2>I nostri certificati:</h2>
            <div class="line mb-4"></div>
            <div id="elenco">
                <div class="col-4">
                    <img src="img/certificato/Logo GWR 1.png" alt="">
                </div>
                <div class="col-4">
                    <img src="img/certificato/images.png" alt="">
                </div>
                <div class="col-4">
                    <img src="img/certificato/Logo GWR 2.png" alt="">
                </div>
                <div class="col-4"></div>
                <div class="col-4"></div>
            </div>
        </section>
    </main>

    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3 pb-4">
                    <img src="img/Logo scritta.png" alt="" class="pt-4 pb-4 px-2">
                    <div class="pb-1 pt-2">© 2021 Pizzeria Bella&Buona di Barbera Giuseppe</div>
                    <div class="pb-1">P.iva: 04221520986</div>
                    <div class="credits"><span><a href="policy/Privacypolicy.html">Privacy Policy</a></span><span> - <a href="policy/Cookiepolicy.html">Cookie Policy</a></span></div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 pt-4 pb-4">
                    <h5>Giorni e orari:</h5>
                    <div class="pb-1 pt-2">Aperti tutti i giorni tranne il lunedì</div>
                    <div class="pb-1">Dalle 11:00 alle 13:30, dalle 17:00 alle 22:30</div>
                    <div>Consegna a domicilio, <br> ogni sera dalle 18:00 alle 20:30</div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 pt-4 pb-4">
                    <h5>Contatti:</h5>
                    <a href="https://www.google.com/maps/place/Bella+e+Buona/@45.6497006,10.3504344,17z/data=!3m1!4b1!4m5!3m4!1s0x4781833d9a462701:0x7e1df6494852f91f!8m2!3d45.6497006!4d10.3526231?hl=it" id="address">Via Guglielmo Marconi 10d, Agnosine - BS</a>
                    <h4><a onclick="postcall()" href="tel:0365 187 0283" >0365 187 0283 </a></h4>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 pt-4 pb-4">
                    <h5>Follow us:</h5>
                    <a href="https://www.instagram.com/bellaebuonaagnosine/?hl=en"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.facebook.com/bellaebuonaagnosine"><i class="fab fa-facebook-f"></i></a>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/script.js"></script>
    <script src="js/script2.js"></script>
    <script>
        function postcall() {
            window.location.href("https://www.google.com/search?q=ciao&oq=ciao&aqs=chrome..69i57j0i131i433i512j46i175i199i433i512j0i433i512j46i433i512j0i433i512l2j69i60.1451j0j7&sourceid=chrome&ie=UTF-8")
            console.log('ciao')
        }
    </script>
</body>
</html>